# Get & Clean Data

Importing libraries

In [ ]:
import pandas as pd
import numpy as np
import requests

Get the HTML page of Wiki, and using read_html we convert the html data into list of Data frame objects.

Remove cells which have borrow not assigned.

In [8]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki)

wiki_raw = pd.read_html(wiki_page.content, header = 0)[0]
df = wiki_raw[wiki_raw.Neighbourhood != 'Not assigned']
df.reset_index(inplace = True)
df.head()

   index  ...                                Neighbourhood
0      2  ...                                    Parkwoods
1      3  ...                             Victoria Village
2      4  ...                    Regent Park, Harbourfront
3      5  ...             Lawrence Manor, Lawrence Heights
4      6  ...  Queen's Park, Ontario Provincial Government

[5 rows x 4 columns]

In [9]:
df.groupby(['Postal Code']).first()

             index  ...                                      Neighbourhood
Postal Code         ...
M1B              9  ...                                     Malvern, Rouge
M1C             18  ...             Rouge Hill, Port Union, Highland Creek
M1E             27  ...                  Guildwood, Morningside, West Hill
M1G             36  ...                                             Woburn
M1H             45  ...                                          Cedarbrae
...            ...  ...                                                ...
M9N             98  ...                                             Weston
M9P            107  ...                                          Westmount
M9R            116  ...  Kingsview Village, St. Phillips, Martin Grove ...
M9V            143  ...  South Steeles, Silverstone, Humbergate, Jamest...
M9W            152  ...                Northwest, West Humber - Clairville

[103 rows x 3 columns]

The new Wiki link already has nieghborhood merged according to Postal Code and Borough

In [10]:
len(df['Postal Code'].unique())

103

In [11]:
df[df['Borough'] == 'Not assigned']

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighbourhood]
Index: []

In [14]:
df.shape

(103, 4)